einops==0.3.2
matplotlib==3.5.0
numpy==1.21.5
opencv_python==4.5.4.60
Pillow==9.0.0
thinc==8.0.13
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
vit_pytorch==0.24.3
gradio
keras-ocr
pytesseract
tesseract-ocr
tensrorflow
imageio==2.8.0
numpy-base==1.19.2
scipy==1.4.1
tensorboard==1.13.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==1.13.1
tensorflow-estimator==1.13.0
